img{
    height: 250px;
    border-radius: 4px;
}

h1, p{
    text-align: center;
}

a:hover{
    color:  #b1b1b1;
}

.album{
    font-size: 22px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}